<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="/add_product" method="post">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" required>
        <br><br>

        <label for="description">Product description</label>
        <textarea name="description" id="description" required rows="3"></textarea>
        <br><br>

        <label for="quantity">Product Quantity</label>
        <input type="number" name="quantity" id="quantity" required>
        <br><br>

        <label for="price">Product Price</label>
        <input type="number" name="price" id="price" required>
        <br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>